.navigation {
    margin: 0% 5% 0% 5%;
}

.navlist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #e98300;
}

.navlist li {
    margin: 0;
}

.navlist li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navlist li a:hover:not(.active) {
    background-color: #ac6100;
}

.navlist li a.active {
    background-color: #c67102;
}
