h1 {
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 5px #693b00, 0 0 10px #693b00;
}
/* 
input {
    white-space: pre;
    word-break: break-word;
} */

#user-message {
    text-align: center;
    color: #900;
}

.add-clip-form {
    text-align: center;
    margin: 20px 50px; /* Reduced margin for better centering */
}

.add-clip-form input,
.add-clip-form select {
    padding: 8px;
    width: 50%;
    height: 5%;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: medium;
}

.add-clip-form label {
    text-align: left;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 25%;
    font-weight: bold;
}

.add-clip-form .checkbox-container {
    margin-top: 10px;
    text-align: left;
}

.add-clip-form input[type="checkbox"] {
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

#clip-content {
    resize: both;
    /* display: flex; */
    overflow-y: auto;
    padding: 8px;
    width: 50%;
    height: 100px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: medium;
}

#privacy {
    display: inline-block;
}

.add-clip-form button {
    background-color: #e98300;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    width: 20%;
    height: 5%;
    display: inline-block;
    text-shadow: 0 0 5px #7b4600, 0 0 10px #7b4600;
    font-size: medium;
    margin-top: 10px; /* Add margin to separate the button from other elements */
}

.add-clip-form button:hover {
    background-color: #bf6c00;
}
