* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	width: 100%;
	min-height: 100vh;
	/* background-color: #e2ebf1; */
	background: rgb(235,95,25);
	background: linear-gradient(-130deg, rgba(235,95,25,0.89) 0%, rgba(253,187,45,0.89) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 450px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	padding: 40px 30px;
}

.container .register-text {
	color: #e98300;
	font-weight: 800;
	font-size: 2rem;
	text-align: center;
	margin-bottom: 15px;
	display: block;
	text-transform: capitalize;
}

.input-group {
	width: 100%;
	height: 40px;
	margin-bottom: 25px;
}

input {
	width: 100%;
	height: 100%;
	border: 2px solid #e7e7e7;
	padding: 15px 20px;
	font-size: 1rem;
	border-radius: 30px;
	background: transparent;
	outline: none;
	transition: 0.3s;
}

input:focus,
input:valid {
	border-color: #ac6100;
	box-shadow: 0 0 5px #ac6100;
}

.btn {
	display: block;
	width: 100%;
	height: 52px;
	padding: 9px 20px;
	text-align: center;
	border: none;
	background: #e98300;
	outline: none;
	border-radius: 30px;
	font-size: 1.2rem;
	color: #fff;
	cursor: pointer;
	transition: 0.3s;
}

.btn:hover {
	transform: translateY(-5px);
	background: #bb6a00;
	box-shadow: 0 0 5px #ac6100;
}

.register-under-text {
	color: #111;
	font-weight: 600;
	padding-top: 30px;
	padding-left: 43px;
}

.register-under-text a {
	text-decoration: none;
	color: #ac6100;
}

.hide {
	display: none;
}

.error {
    padding-bottom: 20px;
	padding-left: 10px;
    color: rgb(136, 24, 24);
	font-weight: bold;
}

@media (max-width: 430px) {
	.container {
		width: 300px;
	}
}
